<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>EDIT ACCOUNT</title>
  <h3>COLLEGE</h3>
</head>
<body>
  <div class="side-menu">
    <div class="brand-name">
      <img src="logo.png" alt="Logo" style="width: 100%;">
    </div>
    <ul>
      <li><a href="index.html" class="link_a">HOME</a></li>
      <li><a href="checkStudents" class="link_a">STUDENT DETAILS</a></li>
      <li><a href="add.html" class="link_a">CREATE ACCOUNT</a></li>
      <li><a href="editStudent" class="link_a">EDIT ACCOUNT</a></li>
      <li><a href="deleteStudents" class="link_a">DELETE ACCOUNT</a></li>
    </ul>
  </div>
  <div class="container">
    <div class="header">
      <div class="nav">
        <div class="search">
          <form action="/ed_search" method="GET">
            <input type="text" name="query" placeholder="Search...">
            <button class="my-btn" type="submit"><img src="search.png" alt="My Image"></button>
          </form>                        
        </div>
      </div>
    </div>
  </div>
  <div class="container1">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>student_id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Resume</th>
        </tr>
      </thead>
      <tbody>
        {{#each students}}
          <tr>
            <td>{{this.student_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td><a href="/editing/{{this.student_id}}">EDIT</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table> 
  </div>
</body>
</html>